[Unit]
Description = Umee monitor using miss counter

[Service]
Type = simple
ExecStart = /usr/bin/python3 -u /root/Infrasmonitor/Validator/umee.py
User = root

[Install]
WantedBy = multi-user.target